<tr id="item-<%= item.id %>">
    <td>
        <div class="media">
            <div class="d-flex">
            <%= image_tag(item.cat_picture, class:"img-fluid", style:"width: 152px; height: 102px;") if item.cat_picture.attached? %>
            </div>
            <div class="media-body">
                <p><%= item.title %></p>
            </div>
        </div>
    </td>
    <td>
        <h5><%= item.price %>€</h5>
    </td>
    <td>
        <div class="product_count">
            <input type="text" name="qty" id="quantity-item-<%= item.id %>" maxlength="12" value="<%= cart_item.quantity %>" title="Quantity:"
                class="input-text qty">

            	<%= button_to join_table_carts_item_path(current_user.cart.join_table_carts_items.find_by(item: item), change: "increase"), class:"increase items-count", type:"button", method: :put, remote: true do %>
          			<i class="lnr lnr-chevron-up"></i>
          		<% end %>
          		<%= button_to join_table_carts_item_path(current_user.cart.join_table_carts_items.find_by(item: item), change: "decrease"), class:"reduced items-count", type:"button", method: :put, remote: true do %>
          			<i class="lnr lnr-chevron-down"></i>
          		<% end %>
        </div>
    </td>
    <td>
        <h5 id=total-price-item-<%= item.id %>>
        	<%= cart_item.total_price %>€
        </h5>
    </td>
    <td>
    	<%= link_to join_table_carts_item_path(current_user.cart.join_table_carts_items.find_by(item: item)), method: :delete, remote: true do %>
		    <i class="fas fa-times-circle text-danger"></i>
		<% end %>
    </td>
</tr>
