<p id="notice"><%= notice %></p>

<h1>Join Items Orders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @join_items_orders.each do |join_items_order| %>
      <tr>
        <td><%= link_to 'Show', join_items_order %></td>
        <td><%= link_to 'Edit', edit_join_items_order_path(join_items_order) %></td>
        <td><%= link_to 'Destroy', join_items_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Join Items Order', new_join_items_order_path %>
