  <!-- Start Banner Area -->
  <section class="banner">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>Edit Profile</h1>
          <nav class="d-flex align-items-center">
            <a href="<%= items_path %>">Home<span class="lnr lnr-arrow-right"></span></a>
            <a href="<%= profile_path %>">Profile<span class="lnr lnr-arrow-right"></span></a>
            
            <a href="#">Edit Profile</a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->


    <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-md-6 mt-5">
       
			

		<%= form_for current_user, url: {action: "update"} do |f| %>

        <div class="form-group">

          <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control", placeholder:"Prénom", required: true %>
        </div><br/> <br/>

        <div class="form-group">

          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder:"Nom", required: true %>
        </div><br/> <br/>


        <div class="form-group">

          <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control", placeholder:"Description", required: true %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "EDIT", class: "btn btn-lg primary-btn btn-block" %>
        </div><br/>


			<%= link_to 'Back', profile_path(current_user.id) %>
<% end %>


		</div>
    </div>
  </div>
  <div class="space"></div>

  